<div id="Join" class="toggle-custom uk-section uk-section">
<div class="uk-container uk-text-center">
      <h2><a class="uk-link-text" href="https://discord.gg/w5wnFKT">Join</a></h2>
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
        <div>
          <p>Come share your homesteading journey!</p>
        </div>
        <div>
          <iframe src="https://discordapp.com/widget?id=310629171179290635&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
        </div>
      </div>
    </div>
</div>
