<footer>
  <div class="uk-section-muted uk-section-xsmall">
    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
        <div class="uk-text-center uk-text-small">
          <p>
            <a class="uk-link-text" href="{{ site.baseurl }}/index.html#Join">Join</a> |
            <a class="uk-link-text" href="{{ site.baseurl }}/index.html#Rules">Rules</a> |
            <a class="uk-link-text" href="{{ site.baseurl }}/blog">Blog</a>
            <br> &copy; <a class="uk-link-text uk-text-small" href="https://github.com/DIY-Homestead/Discord">Source</a>
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
