<footer>
  <div class="uk-section-muted uk-section-xsmall">
    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
        <div class="uk-text-center uk-text-small">
          <p>
            <a class="uk-link-text" href="{{ site.baseurl }}/index.html#Join">Join</a> |
            <a class="uk-link-text" href="{{ site.baseurl }}/rules">Rules</a> |
            <a class="uk-link-text" href="{{ site.baseurl }}/blog">Blog</a>
            <br>
            <a href="https://github.com/DIY-Homestead/Discord" class="uk-icon-button" uk-icon="github"></a>
            <a class="uk-icon-button" type="button" uk-toggle="target: .toggle-custom; cls: uk-background-secondary uk-light uk-dark"><span uk-icon="bolt"></span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
