<header>
  <div class="uk-section uk-section-default uk-padding-remove-top uk-padding-remove-horizontal uk-padding">
    <nav class=" uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
          <!--<li><a href="/index.html#About" uk-scroll>About</a></li>-->
          <li><a href="/Discord/index.html#Join">Join</a></li>
          <li><a href="/Discord/index.html#Rules">Rules</a></li>
          <li><a href="/Discord/index.html#Blog">Blog</a></li>
        </ul>
      </div>
    </nav>
    <div class="uk-container uk-text-center">
      <h1 class="uk-heading-primary uk-heading-line uk-text-center"><span>{{ site.title }}</span></h1>
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
        <div>
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>
</header>
