<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--
    The above 2 meta tags *must* come first in the <head>
    to consistently ensure proper document rendering.
    Any other head element should come *after* these tags.
   -->

  <link href="{{ "/assets/img/avatar-icon.jpg" | relative_url }}" rel="shortcut icon">
  <link rel="stylesheet" href="{{ "/assets/css/uikit.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}" type="text/css">
  <script type="text/javascript" src="{{ "/assets/js/uikit.min.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/uikit-icons.min.js" | relative_url }}"></script>
  <style>
    .intro-text {
      text-shadow: 1px 1px 2px black;
    }
    blockquote {
      border-left: 5px solid #ccc;
      background: #f9f9f9;
      border-radius: 0px 4px 4px 0px;
      padding: 5px 10px;
    }
  </style>
  <title>{{ site.title }}</title>
</head>
