---
layout: default
---
<main>
  <div id="Join" class="uk-section uk-section-secondary" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 420; repeat: true">
    <div class="uk-container uk-text-center">
      <h2><a class="uk-link-text" href="https://discord.gg/w5wnFKT">Join</a></h2>
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
        <div>
          <p>Come share your homesteading journey!</p>
        </div>
        <div>
          {% include discord_widget.html %}
        </div>
      </div>
    </div>
  </div>

  <div id="Rules" class="uk-section uk-section-muted" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 420; repeat: true">
    <div class="uk-container uk-text-center">
      <h2>Rules</h2>
      <div class="uk-grid-match uk-child-width-1-1@m uk-text-left" uk-grid>
        <div>
          <ul>
            <li>Be respectful to fellow posters – name-calling, rudeness, and trolling are not welcome here.</li>
            <li>Do not ask for or give any personal information on anyone in a public channel, same rules as reddit apply.</li>
            <li>Keep chat clean, no NSFW/porn.</li>
            <li>Do not spam for ranks. Spammers will be deranked and banned.</li>
            <li>Only use bot commands in #bots. Repeated failure to do so may result in a kick.</li>
            <li>Emojis in usernames will be removed.</li>
            <li>You may be banned at any time for hookup requests or blatant trolling.</li>
            <li>Be civil and friendly above all else.</li>
          </ul>
          <h2 class="uk-text-center">Role Explanation</h2>
          <ul>
            <li>Each time you post a message you get a random number of XP between 15 and 25.</li>
            <li>To avoid flood, you can only gain xp once per minute. In the server, you can type !rank or !levels to get your rank or see leaderboards.</li>
            <li>Level 0: Everyone starts at level zero, you should be able to comment in #general.</li>
            <li>The admins are working to bring a fun reward system for gaining levels. Higher levels will have access to secret channels and other goodies. Stay tuned</li>
            <li>We may expand other levels and roles as needed.</li>
            <li>Vanity roles like ‘Homesteader’, ‘Urban Homesteader’ and ‘Enthusiast’, can be self-assigned by typing exactly “/homesteader” or “/enthusiast” in #bots without the quotes. If you have any problems assigning yourself a role, feel free to ping
              the moderators.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section-default uk-container-expand">
    <div class="uk-section-large uk-dark uk-background-cover uk-background-top-center" style="background-image: url({{ " /assets/img/header.jpg " | relative_url }})">
      <div class="uk-container uk-text-center" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 420; repeat: true">
        <div class="uk-child-width-1-1@m uk-text-center" uk-grid>
          <h2 class="uk-text-lead">{{ site.title }}</h3>
                  <div>
                      <p class="uk-text-lead uk-text-small">Lets do this together.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
